body{
    background: url(https://cdn.pixabay.com/photo/2015/03/26/09/59/purple-690724_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul{
    background-color: gray;
    padding: 30px;
    /* visibility: hidden; */
    /* display: none; */
    opacity: 0.5;
}

ul li {
    display: inline;
    margin: 20px;
    
}